@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fonts/icomoon.eot?bdjiek');
  src:  url('../fonts/fonts/icomoon.eot?bdjiek#iefix') format('embedded-opentype'),
    url('../fonts/fonts/icomoon.ttf?bdjiek') format('truetype'),
    url('../fonts/fonts/icomoon.woff?bdjiek') format('woff'),
    url('../fonts/fonts/icomoon.svg?bdjiek#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}

/*PARA QUITAR SUBRAYADO AZUL
a, a:link {
  text-decoration: none;
}
*/

/*SELECTOR DE ETIQUETA*/
body {
  font-family: 'Allerta', sans-serif;
  margin: 0px;
}

table {
  width: 100%;
}

td {
  padding: 20px;
}

th {
  color: white;
  text-align: left;
  background-color: #273b47;
  padding: 10px 20px;
}

/*SELECTOR DE ETIQUETA MÚLTIPLE*/
table, td, th {
  border: 1px solid #273b57;
  border-collapse: collapse;
}

input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background: lightgray;
}

/*SELECTOR DE CLASE*/
.background {
  background-image: url("../images/background.png");
  background-size: cover;
}

.button {
  border-radius: 8px;
  background: #fd324e;
  color: white;
  border: none;
  padding: 7px 12px;
  font-size: 18px;
  background: linear-gradient(to left, #Fe344e, #ff7250);
  cursor: pointer;
}

.contacto {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contacto a {
  color: white;
  text-decoration: none;
}

.contacto img {
  display: block;
}

.contacto strong {
  display: block;
}

.contenedor {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.contenedor-guitarra-a {
  margin-right: 350px;
  padding-left: 20px;
}

.contenedor-guitarra-b {
  margin-left: 370px;
  position: relative;
  bottom: 75px;
}

.col1 {
  margin-right: 15px;
}

.col1 label {
  text-decoration: none;
}

.col2 {
  align-items: flex-start;
}

.col2 .button {
  margin-top: 15px;
}

/*SELECTOR DE CLASE1 Y CLASE2*/
.col1, .col2 {
  display: flex;
  flex-direction: column;
}

.derecha {
  float: right;
  position: relative;
  top: -127px;
}

.footer {
  background: #273b47;
  padding: 30px;
}

/*SELECTOR DE CLASE2 CONTENIDA EN CLASE1*/
.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.formulario {
  width: 400px;
  display: flex;
  color: white;
  text-decoration: none;
}

/*COMBINACION DE SELECTORES DE CLASE Y ETIQUETA
 Y OTRAS CLASES*/
.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}

.guitarra {
  margin: 10px 10px 40px 10px;
  padding: 10px;
  overflow: visible;
  border: 1px solid #1F313C;
  border-radius: 8px;
}
/*SELECTOR DE CLASE2 CONTENIDO EN CLASE1 QUE SE
REPITE EN OTRAS ETIQUETAS HTML*/
.guitarra.b {
  height: 210px;
}

.guitarra ol {
  padding: 0;
}

.guitarras {
  color: #1F313C;
  margin-bottom: 70px;
}

.guitarras h2 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  position: relative;
}

.izquierda {
  float: left;
  position: relative;
}

.intereses label {
  font-size: 12px;
}

.menu {
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
  font-size: 25px;
  line-height: 60px;
}

/* SELECTOR DE CLASE Y ETIQUETA CON
 PSEUDOELEMENTOS*/
.menu li::before {
  content: '∘';
  font-size: 30px;
  color: white;
}

.logotipo {
  display: inline-block;
  margin-left: 0;
}

.portada {
  height: 500px;
  padding: 20px;
  color: white;
}

.portada button {
  margin-bottom: 70px;
}

.sexo {
  margin-top: 10px;
}

.tabla {
  margin: 50px 0px;;
}

.titulo {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}

.title-a {
  font-size: 24px;
  margin-top: 0;
}

.title-b {
  font-size: 50px;
  margin-bottom: 20px;
}

.titulo span {
  text-decoration: underline;
}

.burguer-button {
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #395667;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}

@media screen and (max-width: 800px) {
  /*body {
    border: 5px solid red;
  }*/
    /*.contenedor {
      width: auto;
      max-width: 800px;
    }*/
  /*PORTADA*/
  .titulo {
    font-size: 45px;
    margin-top: 30px;
  }

  .title-a {
    font-size: 18px;
  }

  .portada {
    height: auto;
  }

  .portada .button {
    display: inline-block;
    margin-bottom: 30px;
  }

  /* GUITARRAS */
  .contenedor-guitarra-a {
    margin-right: 0;
    padding-left: 0;
  }

  .contenedor-guitarra-b {
    position: static;
    margin-left: 0;
  }

  .guitarras {
    text-align: center;
  }

  .guitarra.b {
    height: auto;
  }

  .derecha, .izquierda {
    float: none;
    position: static;
  }

  .title-b {
    margin: 0;
  }

  .guitarra li {
    list-style: none;
  }
  /* GUITARRAS */
}


@media screen and (max-width: 767px) {
  /* selector de atributo*/
  input[type="text"], input[type="email"] {
    font-size: 16px;
    padding: 5px;
  }

  input[type="checkbox"], input[type="radio"] {
    zoom: 1.5;
  }

  textarea {
    width: 100%;
  }

  .contacto {
    margin: 0 auto;
  }

  .contacto img {
    margin-bottom: 20px;
  }

  .col1 {
    margin-right: 0;
  }

  .footer .contenedor {
    display: block;
  }

  .footer .formulario {
    width: 300px;
    display: block;
    margin: 0 auto;
  }

  .intereses label {
    display: block;
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    text-align: center;
  }

  .menu {
    display: block;
    position: static;
  }

  .menu li:first-child {
    margin: 0;
  }

  .menu ul {
    padding: 0;
  }

  .logotipo {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .portada .contenedor {
    position: static;
  }

  .menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    right: 0;
    background: rgba(255, 60, 88, .8);
    z-index: 2;
    display: flex;
    align-items: center;
    transition: .4s;
  }

  .menu.active {
    left: 0;
  }

  .menu li {
    display: block;
    margin: 0;
    padding: 4px 0;
    border-bottom: 1px solid white;
  }

  .menu ul {
    flex: 1;
  }

  .guitarra img {
    width: 200px;
    /* si la imagen tuviera un alto declarado, debemos
    declarar un alto automatico en el mediaquerie para
    no desproporcionarla
    height: auto;*/
  }

  .menu li:before {
    display: none;
  }

  .menu li:first-child {
    border-top: 1px solid white;
  }

  .portada {
    text-align: center;
  }

  .titulo {
    font-size: 30px;
  }

  .title-a {
    font-size: 16px;
  }

  .title-b {
    font-size: 30px;
  }
}
